
CONFIG_IDENT_STRING=" mini-m8s-sd-test"
CONFIG_ENV_IS_NOWHERE=y
# CONFIG_CMD_SAVEENV is not set
# CONFIG_MMC_WRITE is not set
# CONFIG_CMD_MMC_RPMB is not set
# CONFIG_CMD_MMC_BOOT is not set
# CONFIG_CMD_GPT is not set
# CONFIG_CMD_GPT_RENAME is not set
# CONFIG_CMD_FAT_WRITE is not set
# CONFIG_CMD_EXT4_WRITE is not set
# CONFIG_SPL is not set
CONFIG_CONSOLE_MUX=y
CONFIG_SYS_CONSOLE_IS_IN_ENV=y
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_DISPLAY_BOARDINFO_LATE=y
CONFIG_CMD_BDI=y
CONFIG_DM_REGULATOR_GPIO=y
CONFIG_POWER_DOMAIN=y
CONFIG_MESON_EE_POWER_DOMAIN=y
CONFIG_USB=y
CONFIG_USB_DWC2=y
CONFIG_PHY=y
CONFIG_MESON_GXBB_USB_PHY=y
CONFIG_USB_KEYBOARD=y
CONFIG_CMD_USB=y
CONFIG_VIDEO=y
# CONFIG_VIDEO_BPP8 is not set
# CONFIG_VIDEO_BPP16 is not set
CONFIG_SYS_WHITE_ON_BLACK=y
CONFIG_VIDEO_MESON=y
CONFIG_VIDEO_DT_SIMPLEFB=y
CONFIG_CMD_CLS=y
CONFIG_HUSH_PARSER=y
CONFIG_CMD_SYSBOOT=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_LEGACY_IMAGE_FORMAT=y
CONFIG_USE_PREBOOT=y
CONFIG_PREBOOT="usb start"
CONFIG_BOOTDELAY=0
CONFIG_USE_BOOTCOMMAND=y

# EFI diagnostic keeps all firmware variables in memory.
CONFIG_EFI_VARIABLE_NO_STORE=y
# CONFIG_EFI_VARIABLE_FILE_STORE is not set
# CONFIG_EFI_VARIABLE_SF_STORE is not set
CONFIG_BOOTCOMMAND="echo Mini M8S EFI boot; mmc dev 0; if load mmc 0:1 0x08000000 efi-console.scr; then source 0x08000000; fi; echo EFI boot returned - stopped"
